body{
    background: linear-gradient(to left, #a8a8a8,#494b49);
    margin: 0px;
}
#formDiv{
    background: linear-gradient(to right, #7e7d7d,#3b3d3b);
    width: 65%;
    height: 65%;
    position: fixed;
    top: 20%;
    bottom: 20%;
    left:17.5%;
    border-radius: 20px;
    /* box-shadow: 1px 1px 3px 1px; */
    border: 1px solid rgb(68, 67, 67);
    transition: 0.3s;
}
#formDiv:hover{
    background: linear-gradient(to right, #a8a8a8,#494b49);
    width: 65%;
    height: 65%;
    position: fixed;
    top: 20%;
    bottom: 20%;
    left:17.5%;
    border-radius: 20px;
    box-shadow: 1px 1px 3px 1px;
    border: none;
}
#form{
    position: fixed;
    width: 50%;
    left: 24%;
    bottom: 30%;
    top: 30%;
}
#contents{
    position: fixed;
    width: 25%;
    top: 45%;
    left: 35.7%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* hmm */
}
.input{
    color: black;
    border-radius: 20px;
    margin:1%;
    padding-left: 3%;
    padding-top: 0.5%;
    padding-bottom: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 1px;
    font-size: medium;
    /* position: fixed; */
    width: 50%;
    height: 300%;
    left: 24%;
    bottom: 30%;
    top: 30%;
}
#button{
    color: antiquewhite;
    border-radius: 30px;
    padding: 2%;
    margin-top: 4%;
    background-color:#494b49;
    border: 0px;
    box-shadow: 1px 1px 3px 1px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
#button:hover{
    background-color: #706e6e ;
    box-shadow: 1px 1px 3px 1px black;
}
header{
    color: antiquewhite;
    background-color: #706e6e ;
    box-shadow: 1px 1px 3px 1px #1d1f1d;
    border-radius: 0px 0px 60px 0px;
}
#title{
    padding: 5% 5% 5% 40%;
    margin: 0px;
}
#show{
    color: rgb(0, 0, 0);
}
.screen{
    background-color: antiquewhite;
}
.show_button{
    color: antiquewhite;
    border-radius: 30px;
    padding: 2%;
    margin-top: 4%;
    background-color: #494b49;
    border: 0px;
    box-shadow: 1px 1px 3px 1px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
.show_button:hover{
    background-color: #a8a8a8 ;
    box-shadow: 1px 1px 3px 1px black;
}